/* Padding to create space below the navbar. This gets removed
   When viewed at mobile screen size*/
body { padding-top: 70px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}
.JSSList{
  text-size: 1.5em;

}
