{% extends "jamf_webhook_receiver/base.html" %}
{% block content %}
<h1>JSS Servers</h1>
<table class="table table-striped mx-auto">
  <thead>
    <th>Name</th>
    <th>URL</th>
    <th></th>
    <th></th>
  </thead>
  {% for server in object_list %}
  <tr>
    <td><p><strong>{{ server.name }}</strong></p></td>
    <td><p>{{ server.url }}</p></td>
   <td><a href="{% url 'jss_edit' server.pk %}"><button type="button" class="btn btn-secondary">Edit</button></a></td>
    <td><a href="{% url 'jss_remove' server.pk %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
  </tr>
    {% endfor %}
</table>

  <div class="container">
  <a href="{% url 'jss_new' %}"><button type="button" class="btn btn-primary float-right">Add New</button></a>
  </div>
{% endblock %}
